#app {
  background-color:  rgb(11, 61, 69);
}

header h1 {
  font-family: "proxima-nova-1","proxima-nova-2","Montserrat",Helvetica,sans-serif;  text-align: center;
  color: #fff;
  text-decoration: underline;
  font-size: 2em;
}

header button {
  
  color: black;
  position: right;
  float: right;
  padding: 2px;
  font-size: 15px;
  border-radius: 2em;
  font-weight: 300;
  margin-right: 10px;
}

nav a {
  
  color: #fff;
  padding: 0.2em 6em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

main h1 {
  color: white;
  margin: 0.1em 1em;
  font-size: 4em;
}